@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

html {
  background: linear-gradient(180deg, #2E2F36 0%, #17181C 100%);
}

.container {
  display: flex;
  flex-direction: row;
}

.container__left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 65.069vw;
  padding: 3.021vw 0;
}

.container__right {
  flex: 1;
  width: 50vw;
  height: 71.111vw;
  background-image: url('./../public/assets/images/side_image.png');
  background-size: cover;
}
/* side_image goes off the screen */
@media screen and (max-width: 512px) {
  .container__right {
    display: none;
  }
  /* .container__left {
    width: 100vw;
    height: 100vh;
  } */
}
  
.header {
  width: 28.194vw;
  /* 406px */
  height: 10vw;
  /* 144px */
  margin-bottom: 6.597vw;
  /* 95px */
}

.header__p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  /* 16px */
  line-height: 1.667vw;
  /* 24px */
  color: #F5F5F5;

}

.header__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 4.444vw;
  /* 64px */
  line-height: 6.667vw;
  margin-bottom: 1.667vw;
  /* 24px */
  color: #F5F5F5;
  margin: 0vw;
  padding: 0vw;
  border: none;
}

.form {
  margin-top: 6.597vw;
  /* 96px */
  width: 28.194vw;
  /* 406px */
  height: 48.472vw;
  /* 698px */
  gap: 1.667vw;
  /* 24px */
}

.form_h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size:
    /* 32px */
    2.222vw;
  line-height:
    /* 48px */
    3.333vw;
  color: #FFFFFF;
  margin: 0px 0px 1.667vw 0px;
  margin-left:
    /* 8px */
    0.556vw;
}

.input__icon {
  width: 1.389vw;

  color: #F5F5F5;
}

.Input__Container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:
    /* 19px  24px*/
    1.319vw 1.667vw;
  width: 28.194vw;
  /* 406px */
  height:
    /* 62px */
    4.306vw;
  border:
    /* 2px */
    0.139vw solid #F5F5F5;
  border-radius:
    /* 46px */
    3.194vw;
  flex: none;
  margin-bottom:
    /* 33px */
    2.292vw;
}

.Input__Container:hover {
  border:
    /* 2px */
    0.139vw solid #E9B425;
}

.Input__Container--focus {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:
    /* 19px  24px*/
    1.319vw 1.667vw;
  width: 28.194vw;
  /* 406px */
  height:
    /* 62px */
    4.306vw;
  border:
    /* 2px */
    0.139vw solid #E9B425;
  border-radius:
    /* 46px */
    3.194vw;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-bottom:
    /* 33px */
    2.292vw;
}

.input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  /* 16px */
  line-height: 1.667vw;
  /* 24px */
  color: #F5F5F5;
  border: none;
  background: transparent;
  outline: none;
  padding: 0vw;
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  /* Set a gap of 10px */
  width: 28.194vw;
  /* 406px */
  height: 4.306vw;
  /* 62px */
  background: linear-gradient(180deg, #AD2D14 0%, #F42E07 100%);
  /* orange */
  border:
    /* 1px */
    0.069vw solid #FE2E05;
  border-radius:
    /* 46px */
    3.194vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size:
    /* 16px */
    1.111vw;
  line-height:
    /* 24px */
    1.667vw;
  color: #F5F5F5;
}

.button:hover {
  background: linear-gradient(180deg, #AD2D14 0%, #F42E07 100%);
  /* orange */
  border:
    /* 1px */
    0.069vw solid #E9B425;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.666vw;
  /* 24px */

}

.text__footer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.111vw;
  /* 16px */
  line-height: 1.667vw;
  /* 24px */
  color: #F5F5F5;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
